#cervezas{
	background: #fff;
	overflow: hidden;
}
#cervezas .slider{
	padding-top: 50px;
}
#cervezas .slider .botella{
	width: calc(1024px / 3);

}
#cervezas .slider .botella img{
	width: auto;
	height: 540px;
	margin:auto;
}