#cervezas{
	background: #fff;
}
#cervezas .slider{
	width: calc(1024px * 4);
	height: 100%;
	position: relative;
	overflow: hidden;
}
#cervezas .slider .botella{
	height: 100%;
	width: calc(1024px / 3);
	
	
	float: left;

}
#cervezas .slider .botella img{
	width: auto;
	height: 540px;
	margin:auto;
}


